@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10rem;
}
main {
  font-family: "Roboto", sans-serif;
}
.search {
  margin-right: auto;
}
button {
  padding: 0.5rem;
  border-radius: 34px;
  background: pink;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
section {
  text-align: center;
}
div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.ingredients {
  text-align: left;
  margin-left: 30rem;
}
