@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10rem;
}
main {
  font-family: "Roboto", sans-serif;
}
.search {
  margin-right: auto;
}
button {
  padding: 0.5rem;
  border-radius: 34px;
  background: pink;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  border: none;
}
.cabbage {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.center {
  text-align: center;
}
.divcenter {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
.ingredients {
  text-align: left;
  margin-left: 26.5rem;
}
div {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 12.2em;
}
.b {
  position: relative;
  top: -14em;
}
.small {
  max-width: 12.5rem;
}
p.ontop {
  position: relative;
  bottom: 4.2em;
  margin-left: 0.6em;
  z-index: 200;
}
.bar {
  height: 1.5em;
  padding-top: 2em;
  opacity: 0.5;
  background: black;
  margin-top: 5em;
  position: relative;
  bottom: 12.2em;
}
